/* Empty. Add your own CSS if you like */
.home-page{
    background: url('../../img/bitcoin_bg.jpg');
    background-size:cover;
    background-position:center;  
}
.title-center{
    text-align: center !important;
}